*,html{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin-top: 4em;
    min-height: calc(100% - 4em);
    width: 100%;
}

/**** HEADER ****/
header{
    background-color: #343a40;
    height: 3em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
header a{
    text-decoration: none;
    color: #fff;
}
header a:hover{
    color: #ffff00;
}
.page-title{
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translate(0, -50%);
    font-size: 1.5em;
    color: #fff;
}
nav{
    position: absolute;
    top: 50%;
    left: 8em;
    transform: translate(0, -50%);
    font-size: 1.25em;
    color: #fff;
}
nav a{
    display: inline-block;
    margin-right: 1em;
}
.search-menu{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    height: 2.25em;
}
.search-menu button{
    font-size: 1.15em;
    height: 100%;
    width: 5em;
    margin: 0 1em 0 0.5em;
    background: transparent;
    border: solid 1.5px #f5ba0b;
    color: #f5ba0b;
    border-radius: 0.25em;
}
.search-menu input{
    font-size: 1.15em;
    height: 36px;
    padding-left: 0.25em;
    border-radius: 0.25em;
    border: solid 1px #343a40;
}

/**** MAIN ****/
/*** common ***/
main{
    text-align: center;
}
/*** index.html ***/
.movie-poster{
    height: 28em;
    width: 20em;
    display: inline-block;
    vertical-align: top;
    margin: 1em;
}
.movie-poster a, .movie-poster img{
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
}
/*** login.html ***/
#login-form{
    width: 50%;
    font-size: 1em;
    text-align: left;
    margin: 0 auto;
}
#login-form label{
    display: block;
    margin: 1em 0;
    font-weight: bold;
}
#login-form input{
    padding: 0.5em;
    font-size: 1.15em;
    border: solid 1px #aaa;
    border-radius: 0.25em;
    width: 100%;
    display: block;
    margin: 0.5em 0;
}
#login-form button{
    margin-top: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
    font-size: 1.25em;
}
/*** movie#.html ***/
#banner{
    background-color: #6d757d;
    border-radius: 0.25em;
    width: 99%;
    height: 3em;
    position: relative;
    margin: 1em auto;
}
#banner a{
    color: #f5ba0b;
    text-decoration: none;
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translate(0,-50%);
}
#banner a:hover{
    color: #fff;
}
#container{
    width: 99%;
    margin: 0 auto;
    text-align: left;
}
#container img{
    display: inline-block;
    height: 28em;
    width: 20em;
}
#container article{
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}
#container article h1{
    font-size: 2em;
    margin: 0.25em 0;
}
#container article h2{
    margin: 0.25em 0;
}
#container article p{
    margin: 0.25em 0 0.5em;
}